.jumbotron h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(236, 159, 59);
    font-family: 'Franklin Gothic Medium' bold;
    font-weight: bold;
    
    
}

.jumbotron{
    background-color:rgb(217, 238, 194) !important;
    }