ul.search-results img {
  margin: 0 auto;
  border-radius:20px;
}

thead {
  color:rgb(0, 9, 10);
  background-color: rgb(241, 41, 91);
  opacity: 0.7;
}

tr {
  color: white;
  border-radius: 20px;
}

